body {
    background-color:#0C0D1C;

    height: 100vh;
    width: 100vw;

    justify-content: center;
    display: flex;
    margin: 0;
}

body button {
    height: 95px;
    width: 120px;

    border-radius: 5px;
    border: none;

    box-shadow: 0px 4px 4px; 
    align-items: center;
    box-sizing: border-box;

    margin: 0 20px;
    
    cursor: pointer;
}

button#button1:hover{   
    background-color: #7b75a54d;
    transition: 400ms;
    
}

button#button2:hover{
    background-color: #6d89a342;
    transition: 400ms;
}

button#button3:hover{
    background-color: #612c4278;
    transition: 400ms;
}

button#button4:hover{
    background-color: #29244873;
    transition: 400ms;
}

button:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

div.btn{
    margin: 0;
    position: absolute;
    width: fit-content;
    align-self: center;
}

:focus{
    outline-style: none;
}

button#button1 {
    background-color: #7B75A5;
    background-image: url('/01/icons/witch.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    transition: 400ms ;
}

button#button2 {
    background-color:#6D89A3 ;
    background-image: url('/01/icons/skull.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    transition: 400ms;
}

button#button3 {
    background-color: #612C42;
    background-image: url('/01/icons/skull1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    transition: 400ms;
    
}

button#button4 {
    background-color: #292448;
    background-image: url('/01/icons/animals.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    
    transition: 400ms;
}



p {
    color: #b8cadb;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    
    height: 18px;
    margin: 150px 0;

    border-right: 2px solid rgba(255, 255, 255, .75);
    
    white-space: nowrap;
    overflow: hidden;

}

img {
    width: 15px;
}

    /* Abaixo : Criando o ponteiro */
    @keyframes blinkcursor { /* criação do cursor*/
        form { 
            border-right-color: rgba(255, 255, 255, .75);
        }
        to{
            border-right-color: transparent;
        }
    }

    .typing-animation{ /* animação do cursor */
        animation: blinkcursor 500ms steps(30) infinite normal, typing 3s steps(30) 0s normal;
    }   /*  STEPS: quadros (efeito de digitação) */

        @keyframes typing { /* ocultamento e aparecimento da frase(timing) */
            from {
                width: 0;
            }
            to {
                width: 4.7em;
            }
        }
